    <!-- Footer -->
    <div  class="footer">
        <p> Copyright &copy; 2020 Flight Booking | Kitchener
            <br> <a href="mailto: Contact@tastybite.ca">Contact@Flight Booking.ca </a></p>
        <a href="https://facebook.com" target="_blank"><img src="../../assets/images/home/facebook.png" alt="facebookIcon" width="30px" height="auto"></a  > &nbsp;
        <a href="https://www.instagram.com" target="_blank"> <img src="../../assets/images/home/instagram.png" alt="instaIcon" width="30px" height="auto"></a>&nbsp;

        <a href="https://www.twitter.com" target="_blank"> <img src="../../assets/images/home/twitter.png" alt="twitterIcon" width="30px" height="auto"></a>&nbsp;
        <a href="https://support.google.com/plus" target="_blank"> <img src="../../assets/images/home/google-plus.png" alt="googleIcon" width="30px" height="auto"></a>&nbsp;
        <a href="https://www.youtube.com" target="_blank"> <img src="../../assets/images/home/youtube.png" alt="youTubeIcon" width="30px" height="auto"></a>&nbsp;
       
        </div>  