<nav class="navbar navbar-expand-lg navbar-dark bg-danger static-top ">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
          Canada Airlines
        </a>
   
    <div class=" navbar-collapse"  id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="home" routerLink="home" routerLinkActive="active">Home
              </a>
        </li>
        <li class="nav-item" *ngIf="role == 'admin'">
          <a class="nav-link" href ="list" routerLink="list">Admin/Manage</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link " href="search" routerLink="search">Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="manage" routerLink="manage">Manage</a>
        </li>
      <!-- <li class="nav-item">
          <a class="nav-link " routerLink="about">About</a>
        </li>
        --> 
        <li class="nav-item">
          <a class="nav-link " href="contact"routerLink="contact">Contact</a>
        </li>
  
        <li class="nav-item" *ngIf ="loggedIn == 'true'">
          <a class="nav-link " href="logout" routerLink="logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>